.Content {
  margin: 5rem 8%;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  // grid-template-rows: 1fr 60vh;
  grid-gap: var(--grid-gap-main);
  height: 80vh;

  & > * {
    background-color: var(--color-white);
    border-radius: 8px;
  }
}

