.Features {
  display: flex;
  flex-direction: column;
  justify-content: space-between;

  &__title-container {
    display: flex;
    justify-content: space-around;
  }

  &__photo-container {
  }

  &__photo-list {
    display: grid;
    grid-gap: calc(var(--gutter) / 2);
    grid-template-columns: repeat(6, calc(50% - var(--gutter) * 2));
    grid-template-rows: minmax(150px, 1fr);

    overflow-x: scroll;
    scroll-snap-type: x proximity;
    padding-bottom: calc(0.25 * var(--gutter));
    // margin-bottom: calc(-0.75 * var(--gutter));
  }

  &__title-box {
    width: 33.3333%;
    border-bottom: 2px solid var(--color-grey-dark);
    margin-bottom: 1.4rem;
    padding-bottom: 0.2rem;
    color: var(--color-grey-dark);
    cursor: pointer;
  }

  &__title-box--active {
    border-bottom: 2px solid var(--color-primary);
    color: var(--color-primary);
  }

  &__title {
    text-transform: uppercase;
    letter-spacing: 0.2rem;
    text-align: center;
  }
}
